<Files ~ "^.(htaccess|htpasswd)$">
	deny from all
</Files>

DirectoryIndex index.php
Order deny,allow

# URI
RewriteEngine on

RewriteBase /
RewriteCond $1 !^(index\.php|testindex\.php|.+\.htm|.+\.html|.+\.shtml|.+\.js$|.+\.css$|.+\.jpg$|.+\.png$|.+\.gif$|.+\.ico$|.+\.swf$|.+\.mov$|.+\.wmv$|.+\.avi$|.+\.cgi$|.+\.pm$)
RewriteRule ^(.+)$ index.php/$1/ [L]

# PHP
php_flag magic_quotes_gpc off
php_flag magic_quotes_runtime off
php_flag magic_quotes_sybase off
php_flag register_argc_argv off
php_flag registar_globals off
php_flag register_long_arrays off
php_flag mbstring.encoding_translation Off

php_value default_charset "none"
php_value mbstring.language "Japanese"
php_value mbstring.internal_encoding "UTF-8"
php_value mbstring.http_input "pass"
php_value mbstring.http_output "pass"
php_value mbstring.substitute_character none
php_value mbstring.detect_order "SJIS-WIN,SJIS,UTF-8,EUCJP-WIN,EUC-JP,JIS,ASCII"
php_value upload_max_filesize "5M"
